[Unit]
Description=Multi-Arch QE Single-Node OpenShift Cluster
Documentation=https://github.com/redhat-multiarch-qe/multiarch-ci-provisioner/wiki
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ ansible_user | default(ansible_user_default) }}
ExecStart=/usr/local/sbin/maqe-openshift-start
ExecStop=/usr/local/sbin/maqe-openshift-stop
WorkingDirectory=/var/lib/origin/maqe
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=maqe
TimeoutSec={{ maqe_service_timeout }}

[Install]
WantedBy=multi-user.target
