[Unit]
Description=Multi-Arch QE Provisioner
Documentation=This service runs an OpenShift cluster tied to your current IP address that runs a Jenkins that can provision resources from beaker.

[Service]
Type=simple
ExecStart=/usr/local/bin/provisioner.sh

[Install]
WantedBy=multi-user.target